@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 600;
}





img {
    width: 100px;
    height: 60px;
    z-index: -4;
}







main {
    display: grid;

    grid-template-rows: repeat(6, 85px);
    position: relative;
    z-index: -2;
}

.name {
   
}

.principal {
    width: 300px;
    height: 100px;
    z-index: -50;
}

.face {
    justify-self: center;
    align-self: center;
    grid-row: 3/5;
}

.segundo {
    border-radius: 25.5rem;
    background-color: aqua;
    width: 12rem;
    height: 12rem;

}

.info {
    grid-row: 5/7;
    align-self: center;
    justify-self: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: azure;
}

h4 {
    text-align: center;
    color: azure;
    top: 25px;
}


footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #BA2F53;
    background-size: cover;
    height: 130px;
    padding: 12px 12px;
    font-size: 50px;
    padding-top: 25px;

}

.icons2 {
    text-decoration: none;
    text-align: center;
    color: #25142D;
}