footer {
    display: flex;
    justify-content: space-evenly;
    background-color:#d92032;
    background-size: cover;
    height: 130px;
    padding: 12px 12px;
    font-size: 50px;
    padding-top: 25px;

    .icons2 {
        text-decoration: none;
        text-align: center;
        color: #25142D;
    }
}

