.habilidades{
    background-color: #25142D;
    display: grid;
    grid-template-rows: repeat(9, 57px);
    justify-items: center;
    align-items: center;
   
             .titulo{
              color: #DC3545;
              font-family: "Rampart One";
              font-size: 3rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
                
             }
             .facilidad{
               
               h4{
                  color: #DC3545;
               }
             }
             .lenguage{
               @extend .facilidad;

             }
             .desarrollo{
               @extend .facilidad;
             }
             .redes{
               @extend .facilidad;
             }
             .empatia{
               @extend .facilidad;
             }
             .planificacion{
               @extend .facilidad;
             }
             .pensamiento{
               @extend .facilidad;
             }
             .nube{
               @extend .facilidad;
             }

}