.sobremi{
    background-color: #25142D;
    display: grid;
    grid-template-rows: repeat(9, 57px);
    justify-items: center;
    align-items: center;
    .titulo{
        color: #DC3545;
              font-family: "Rampart One";
              font-size: 3rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
    }
    .fecha{
        grid-row: 2/3;
        color: #DC3545;
        justify-self: end;
       
        
    }
    .info{
        grid-row: 3/7;
        align-self: start;
        
       
        .miprecentacion{
            color: #DC3545;
            text-align: center;
        }
    }
}