.experiencia {
    background-color: #25142D;
    display: grid;
    grid-template-rows: repeat(9, 57px);
    justify-items: center;
    align-items: center;

    .titulo {
        color: #DC3545;
        font-family: "Rampart One";
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .ultima {
        grid-row: 3/5;
        text-align: center;

        .hipermay {
            color: #DC3545;
            text-align: center;
        }

        .año {
            color: #DC3545;
            text-align: center;
        }
    }
    .anteultima{
        grid-row: 5/7;
        .visio{
            color: #DC3545;
            text-align: center;
        }
        .año{
            color: #DC3545;
            text-align: center;
        }
    }
    .penultima{
        grid-row: 7/9;
        .modul{
            color: #DC3545;
            text-align: center;
        }
        .año{
            color: #DC3545;
            text-align: center;
        }
    }


}